h1 {
    color: rgb(238, 130, 238);
text-align: center;
font-family: 'Luckiest Guy', cursive;
}

h2 {
color: aqua;
font-family: 'Luckiest Guy', cursive;
}

h3 {
    font-family: 'Luckiest Guy', cursive;

}

h4 {
    font-family: 'Luckiest Guy', cursive;

}

p {
    color: aqua;
    text-align: left;
    font-family: 'Luckiest Guy', cursive;
    }



